@font-face {
    font-family: 'Cocomat Pro';
    src: url('../fonts/Cocomat-Pro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura LT';
    src: url('../fonts/FuturaLT-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 